.check-field:not(:last-of-type) {
  margin-bottom: 9px;
}

.check-field {
  margin: 20px 0 24px;
  text-transform: none;
  position: relative;
  padding: 12px 0 0 64px;
  .font(@defaultMobileTitleFontSize, bold);
}



.check-field__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-field__input:checked ~ .checkmark::after {
  content: "";
}

.check-field__input:focus ~ .checkmark {
  outline: 1px solid #0052d4;
}
