@import "../common/colors.less";
@import "../common/fonts.less";

.feedback {
  text-align: center;

  &__title {
    .font(21px, 700, @textColorDark, 26px);
    margin: 38px 0 32px;
  }

  &__button {
    display: block;
    .font(21px, 700, @textColorLight, 26px);
    background-color: @mainColor;
    text-decoration: none;
    padding: 16px 49px;
    margin: 32px 0 49px;
  }
}
