.form-section {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 26px 20px 0;
  padding-bottom: 34px;
  flex: 1;

  &--impression {
    padding-bottom: 0;
  }

  &--sights {
    padding-bottom: 6px;
  }

  &--contacts {
    padding-bottom: 25px;
  }
}

.form-section__title {
  .font(@defaultMobileTitleFontSize, 700, @textColorDark, 26px);
  text-align: center;
}

.form-section__comment {
  background-color: @mainFormColor;
  border: none;
  .font (@defaultMobileTitleFontSize, 700, rgba(0, 0, 0, 0.3), 26px);
  padding: 18px;
  margin-top: 19px;
  min-height: 115px;
  width: 100%;
  box-sizing: border-box;
  .focus();
}

@media (min-width: 768px) {
  .form-section {
    margin: 81px 0 0;

    &--introduce {
      .user-field {
        padding-right: 43px;
      }
    }

    &--sights {
      margin-top: 51px;
    }

    &--emotions {
      margin-top: 28px;
    }

    &--contacts {
      .user-field {
        padding-left: 44px;
      }
    }

    &--impression {
      margin-top: 29px;
    }
  }

  .form-section__comment {
    padding: 18px 18px 26px;
  }

  .form-section__wrapper {
    display: grid;

    &--quiz {
      grid-template-columns: 295px 280px;
      padding-left: 36px;
      padding-right: 36px;
    }

    &--check {
      grid-template-columns: 255px 224px;
      padding-left: 84px;
      padding-right: 84px;
    }
  }

  .form-section__title {
    position: relative;
    font-size: 21px;
    margin-bottom: 8px;
    width: 100%;
    padding: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &--without-lines {
      &::before,
      &::after {
        content: none;
      }
    }
  }
}

@media (min-width: 1280px) {
  .form-section {
    &--introduce {
      margin-top: 28px;

      .user-field {
        padding-right: 50px;
      }
    }

    &--contacts {
      margin-top: 28px;

      .user-field {
        padding-left: 78px;
      }
    }

    &--impression {
      margin-top: 36px;
    }

    &--sights {
      margin-top: 85px;
    }

    &--emotions {
      margin-top: 70px;
    }
  }

  .form-section__wrapper {
    &--quiz {
      display: flex;
      padding: 0 52px;
      margin-top: 37px;
      gap: 60px;
    }

    &--check {
      display: flex;
      padding: 0 44px;
      margin-top: 33px;
      gap: 63px;
    }
  }

  .form-section__title {
    &--without-lines {
      padding-left: 6px;
    }

    &::before,
    &::after {
      width: 280px;
    }
  }

  .form-section__comment {
    max-width: 768px;
    margin: 19px auto 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 19px 16px 38px;
  }
}
