.gallery__item {
  padding: 0 18px 27px;
  margin-top: 24px;
}

.gallery__item-title {
  .font(@defaultSubtitleFontSize, 700, @textColorDark);
  margin-top: 8px;
  margin-bottom: 2px;
}

.gallery__item-author {
  text-transform: none;
  font-style: normal;
}

.gallery__item-like {
  display: flex;
  column-gap: 14px;
  margin-top: 14px;
}

.gallery__item-like-icon {
  background-image: url("../img/icon-like.svg");
  width: 23px;
  height: 21px;
}
