.main-container {
  &__image {
    height: 389px;
    background-image: url("../../img/photo-main-sedona.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__catalog {
    height: 164px;
    background-image: url("../../img/photo-catalog.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  img {
    width: 100%;
  }
}
