.main-container__image {
  height: 389px;
  background-image: url("../img/photo-main-sedona.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 90px;
}
