.review {
  margin: 0;
}

.review__button {
  display: block;
  .font(21px, 700, @textColorLight, 26px);
  background-color: @mainColor;
  text-decoration: none;
  padding: 16px 49px;
  margin: 20px 18px 5px;
}

.review__button:hover {
  background: #669ec0;
}

.review__button:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.review__suffix {
  padding: 0 18px;
  text-align: end;
  .font(12px, 400, @captionTextColor, 21px);
  opacity: 0.6;
  margin-bottom: 52px;
}

.review__form-section {
  border: 0 none;
  padding-bottom: 26px;
}

@media (min-width: 768px) {
  .review {
    padding: 0 60px;
  }

  .review__form-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .review__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
  }

  .review__button {
    margin: 0;
    padding: 16px 72px;
  }

  .review__suffix {
    margin-bottom: 0;
    font-size: 14px;
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .review {
    padding: 0 120px;
  }

  .review__form-section {
    margin-top: 69px;
  }

  .review__button-wrapper {
    max-width: 768px;
    margin: 14px auto 0 auto;
  }

  .review__button {
    padding: 16px 101px;
  }

  .review__suffix {
    margin-top: 10px;
  }
}
