.social__list {
  display: flex;
  column-gap: 6px;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.social__list-item-link {
  color: inherit;
  text-decoration: none;

  &--vkontakte {
    display: block;
    background-image: url("../img/social-vk.svg");
    width: 48px;
    height: 48px;
  }

  &--youtube {
    display: block;
    background-image: url("../img/social-you-tube.svg");
    width: 48px;
    height: 48px;
  }

  &--telegram {
    display: block;
    background-image: url("../img/socia-telegram.svg");
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1280px) {
  .container--catalog {
    .social__list {
      margin-left: 0;
    }
  }

  .social__list {
    margin-left: 13px;
  }
}
