.subheader {
  text-align: center;
}

.subheader__image {
  height: 158px;
  background-image: url("../img/photo-catalog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 52px;
  box-sizing: border-box;
}

.subheader__title {
  .font(@defaultMobileTitleFontSize, bold, @textColorDark, 26px);
  margin: 38px 0 25px;
  padding: 0 18px;
}

.subheader__caption {
  margin-bottom: 35px;
  padding: 0 18px;
}
