.user-field {
  position: relative;
  margin-top: 16px;

  &::after {
    content: none;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 58px;
    width: 58px;
    background-color: #e6e6e6;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--phone {
    &::after {
      content: "";
      background-image: url("../img/icon-phone.svg");
    }
  }

  &--email {
    &::after {
      content: "";
      background-image: url("../img/icon-email.svg");
    }
  }
}

.user-field__label {
  margin-left: 16px;
}

.user-field__input {

  background-color: @mainFormColor;
  border: 4px solid @mainFormColor;
  width: 100%;
  min-height: 58px;
  padding-left: 14px;
  padding-top: 6px;
  box-sizing: border-box;
  .focus();
  .font(@defaultMobileTitleFontSize, 700, @textColorDark, 26px, "PT Sans");
  margin-bottom: 0;

  &::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  &--icon {
    width: 222px;
  }
}

.user-field__input:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.user-field__input:active {
  background: #ffffff;
  border: 4px solid #e5e5e5;
}

@media (min-width: 1280px) {
  .user-field {
    margin-top: 17px;
  }

  .user-field__input {
    &--icon {
      width: 344px;
    }
  }
}
