@import "../common/colors.less";
@import "../common/fonts.less";

.video-presentation {
  padding: 0 18px;
  
  &__caption {
    text-align: center;

    &-video {
      width: 280px;
      height: 177px;
    }
  }
}
