.video-presentation {
  padding: 20px 18px 0;
  margin-bottom: -10px;
}

.video-presentation__caption {
  text-align: center;
  padding: 0 20px;
}

.video-presentation__caption-description {
  margin-top: 28px;
  margin-bottom: 38px;
}

.video-presentation__caption-title {
  .font(18px, bold);
  text-align: center;
}

.video-presentation__caption-video {
  width: 280px;
  height: 177px;
}
