@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  src: local("PT Sans"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
html,
body {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans";
}
.page-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  font-family: "PT Sans";
}
.line {
  border-bottom: 1px solid #D6D6D6;
}
.container {
  width: 320px;
  margin: 0 auto;
}
.main-header {
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 21px;
}
.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.main-header__toggle {
  background-image: url("../img/icon-menu.svg");
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.main-heade__nav-list {
  display: flex;
}
.advantage__item {
  display: flex;
  flex-direction: column;
}
.advantage__item--textual {
  padding: 20px 15px 32px 15px;
}
.advantage__item--background {
  background-color: #EEEEEE;
}
.advantage__item--top .advantage__item-image {
  order: 2;
  background-image: url("../img/photo-city.jpg");
}
.advantage__item--top .advantage__item-description {
  order: 1;
}
.advantage__item--bottom .advantage__item-image {
  order: 2;
  background-image: url("../img/photo-bridge.jpg");
}
.advantage__item--bottom .advantage__item-description-title {
  color: #FFFFFF;
}
.advantage__item--bottom .advantage__item-description {
  padding-top: 40px;
  order: 1;
}
.advantage__header {
  padding: 35px 30px 24px;
  text-align: center;
}
.advantage__header-slogan {
  margin: 0;
}
.advantage__header-intro {
  margin-top: 35px;
}
.advantage__item-image {
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.advantage__item-image--house {
  background-image: url("../img/icon-house.svg");
}
.advantage__item-image--burger {
  background-image: url("../img/icon-burger.svg");
}
.advantage__item-image--souvenir {
  background-image: url("../img/icon-souvenir.svg");
}
.advantage__item-description {
  padding: 50px 18px 28px 18px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans";
}
.advantage__item-description--background {
  background-color: #81B3D2;
  color: #FFFFFF;
}
.advantage__item-description-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "PT Sans";
}
.advantage__item-description-number {
  margin-top: 10px;
}
.feedback {
  text-align: center;
  padding: 42px 20px 0 20px;
}
.feedback__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  font-family: "PT Sans";
  margin: 0 0 20px;
}
.feedback__description {
  margin: 0;
}
.feedback__button {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "PT Sans";
  background-color: #81B3D2;
  text-decoration: none;
  padding: 16px 24px;
  margin: 32px 0 49px;
}
.main-footer {
  text-align: center;
}
.main-footer__hashtag {
  margin-top: 32px;
}
.main-footer__hashtag-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  font-family: "PT Sans";
}
.main-footer__social {
  margin: 30px 0 40px 0;
}
.main-container__image {
  height: 389px;
  background-image: url("../img/photo-main-sedona.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 90px;
}
.video-presentation {
  padding: 20px 18px 0;
  margin-bottom: -10px;
}
.video-presentation__caption {
  text-align: center;
  padding: 0 20px;
}
.video-presentation__caption-description {
  margin-top: 28px;
  margin-bottom: 38px;
}
.video-presentation__caption-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans";
  text-align: center;
}
.video-presentation__caption-video {
  width: 280px;
  height: 177px;
}
.gallery__item {
  padding: 0 18px 27px;
  margin-top: 24px;
}
.gallery__item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  font-family: "PT Sans";
  margin-top: 8px;
  margin-bottom: 2px;
}
.gallery__item-author {
  text-transform: none;
  font-style: normal;
}
.gallery__item-like {
  display: flex;
  column-gap: 14px;
  margin-top: 14px;
}
.gallery__item-like-icon {
  background-image: url("../img/icon-like.svg");
  width: 23px;
  height: 21px;
}
.services-list {
  display: flex;
  text-align: start;
  gap: 8px;
  padding: 0;
}
.services-list:not(:first-of-type) {
  margin-top: 10px;
}
.services-list__image {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-list__image--house {
  background-image: url("../img/icon-house.svg");
}
.services-list__image--burger {
  background-image: url("../img/icon-burger.svg");
}
.services-list__image--souvenir {
  background-image: url("../img/icon-souvenir.svg");
}
.services-list__description {
  padding: 13px 2px;
}
.services-list__description-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  font-family: "PT Sans";
}
.services-list__description-caption {
  margin-bottom: 0;
  margin-top: 14px;
}
.convenience-list {
  padding: 24px 34px;
}
.convenience-list__title {
  margin: 0;
}
.convenience-list__number {
  margin: 9px 0 0;
}
.convenience-list__caption {
  margin: 20px 0 0;
}
.social__list {
  display: flex;
  column-gap: 6px;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}
.social__list-item-link {
  color: inherit;
  text-decoration: none;
}
.social__list-item-link--vkontakte {
  display: block;
  background-image: url("../img/social-vk.svg");
  width: 48px;
  height: 48px;
}
.social__list-item-link--youtube {
  display: block;
  background-image: url("../img/social-you-tube.svg");
  width: 48px;
  height: 48px;
}
.social__list-item-link--telegram {
  display: block;
  background-image: url("../img/socia-telegram.svg");
  width: 48px;
  height: 48px;
}
.copyright {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  align-items: center;
}
.copyright__link {
  display: block;
  background-image: url("../img/autograph.svg");
  width: 27px;
  height: 34px;
}
.site-list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans";
}
.site-list__item--active {
  color: #766357;
}
.site-list__item-link {
  color: inherit;
  text-decoration: none;
}
.subheader {
  text-align: center;
}
.subheader__image {
  height: 158px;
  background-image: url("../img/photo-catalog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 52px;
  box-sizing: border-box;
}
.subheader__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  font-family: "PT Sans";
  margin: 38px 0 25px;
  padding: 0 18px;
}
.subheader__caption {
  margin-bottom: 35px;
  padding: 0 18px;
}
.review {
  margin: 0;
}
.review__button {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "PT Sans";
  background-color: #81B3D2;
  text-decoration: none;
  padding: 16px 49px;
  margin: 20px 18px 5px;
}
.review__suffix {
  padding: 0 18px;
  text-align: end;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans";
  opacity: 0.6;
  margin-bottom: 52px;
}
.review__form-section {
  border: 0 none;
  padding-bottom: 26px;
}
.form-section {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 26px 18px 0;
  padding-bottom: 34px;
}
.form-section--impression {
  padding-bottom: 10px;
}
.form-section--sights {
  padding-bottom: 11px;
}
.form-section__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  font-family: "PT Sans";
  text-align: center;
}
.form-section__comment {
  background-color: #F2F2F2;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans";
  padding: 18px;
  margin-top: 19px;
  min-height: 115px;
}
.user-field {
  margin-top: 16px;
}
.user-field__label {
  margin-left: 16px;
}
.user-field__input {
  background-color: #F2F2F2;
  border: none;
  width: 100%;
  min-height: 58px;
  padding-left: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  font-family: "PT Sans";
}
.quiz-field:not(:last-of-type) {
  margin-bottom: 11px;
}
.quiz-field {
  margin: 18px 0 24px;
  text-transform: none;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans";
  padding-left: 65px;
  padding-top: 13px;
}
.quiz-field__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.quiz-field__input:checked ~ .radiomark::after {
  content: "";
}
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 46px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.radiomark::after {
  content: none;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.check-field:not(:last-of-type) {
  margin-bottom: 9px;
}
.check-field {
  margin: 20px 0 24px;
  text-transform: none;
  position: relative;
  padding: 12px 0 0 64px;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans";
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.check-field__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-field__input:checked ~ .checkmark::after {
  content: "";
}
.check-field .checkmark::after {
  content: none;
  position: absolute;
  left: 17px;
  top: 8px;
  width: 11px;
  height: 16px;
  border: solid #333333;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/*# sourceMappingURL=style.css.map */
