@import "../common/colors.less";
@import "../common/fonts.less";

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  .font(@defaultMobileTitleFontSize, 700, @textColorDark, 26px);
}

.line {
  border-bottom: 1px solid @lineColor;
}

.vertical-line {
  display: none;
}

@media (min-width: 768px) {
  .line {
    display: none;
  }

  .vertical-line {
    display: block;
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
  }
}

@media (min-width: 1280px) {
  .vertical-line {
    left: 493px;
    top: 24px;
  }
}
